@model PetGroom.Models.Schedule

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!DOCTYPE html>
    <html>
    <head>
        <title>DHXScheduler initialization sample</title>
        <style>
            body {
                background-color: #eee;
            }
        </style>
    </head>
    <body>
        <div style="height:700px;width:900px;margin:0 auto">
            @Html.DisplayNameFor(model => model.Id)
        </div>
    </body>
</html>


