@model PetGroom.Models.GroomService

@{
    ViewData["Title"] = "GroomingServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GroomingServices</h1>

<h4>GroomService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GroomingServices">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceType" class="control-label"></label>
                <input asp-for="ServiceType" class="form-control" />
                <span asp-validation-for="ServiceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAnimals" class="control-label"></label>
                <input asp-for="NumberOfAnimals" class="form-control" />
                <span asp-validation-for="NumberOfAnimals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

