@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Barkber Shop</h1>

        <img src="~/Images/petsit.jpg" style="width:100%" />
       
    </div>
