
@{
    ViewData["Title"] = "EmployeeSchedule";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h1>EmployeeSchedule</h1>


<a href="~/Images/Employee-Schedule.psd">~/Images/Employee-Schedule.psd</a>
<p>*Check your name and time you come in to work, schedule will be changed monthly or on one on one basis!</p>

